<html>
<head>
	<title>Moneries API demo using NodeJS</title>
</head>
<body>
	<form method="post" action="/">
		<table>
			<tr>
				<td>Credit Card Number:</td>
				<td><input type="text" name="pan" size="16" value="4242424242424242"></td>
			</tr>
			<tr>
				<td>Expiry Date:</td>
				<td><input type="text"  name="expiry" size="4" value="1904"></td>
			</tr>
			<tr>
				<td>Amount:</td>
				<td><input type="text"  name="purchase_amount" size="4" value="3.00"></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="submit"  name="submit" value="Buy"></td>
			</tr>
		</table>
	</form>
</body>
</html>